body {
  background-color: #f5f5dc;
  color: #333333;
  font-family: "Georgia", serif;
}

header {
  background-color: #6b4423;
  color: white;
}

.navbar {
  background-color: #6b4423 !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #d4af37 !important;
}

.navbar .dropdown-toggle {
  position: relative;
}

.navbar .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.75rem;
}

.dropdown-menu {
  min-width: 250px;
}

.dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

